/*Border box fix*/

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

/*Header styles*/

.logo {
  max-width: 200px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
ul {
  text-align: center;
  font-size: 0;
}
li {
  display: inline-block;
  width: 25%;
}

nav a {
  color: black;
  text-decoration: underline;
  font-size: 20px;
  font-weight: 450;
  padding: 10px 20px;
}
nav a:hover {
  text-decoration: underline;
  text-decoration-color: #fbb251;
}
.active {
  text-decoration: underline;
  text-decoration-color: #fbb251;
}

/*Main styles*/

body {
  background-color: white;
  font-family: "Noto sans JP", arial, sans-serif;
  margin: 0;
}
.content-wrap {
  max-width: 1500px;
  margin: 0 auto;
}

/*Footer styles*/

.content-wrap-footer {
}
.content-wrap-footer:after {
  content: "";
  display: table;
  clear: both;
}
footer {
  background-color: black;
  color: white;
}
footer a {
  color: white;
  text-decoration: none;
}
.right-section p {
  text-decoration: underline;
}

footer a:hover {
  text-decoration: none;
  color: #fbb251;
}
h4 {
  font-size: 20px;
  font-weight: bold;
}
h4 ~ p {
  font-size: 16px;
  font-weight: lighter;
}
.Signup {
  background-color: black;
  border-color: white;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 1rem;
  border-radius: 0.5rem;
  padding: 0.4rem 2rem;
  width: 8rem;
  display: inline-block;
  font-size: 1rem;
}
.Signup:hover {
  color: black;
  background-color: white;
  border-color: white;
}
.signup-email {
  display: block;
  width: 90%;
  margin: 20px;
}
.left-section {
  width: 33.33%;
  height: 300px;
  float: left;
  padding: 0 10px;
  text-align: center;
  border-right: 1px solid white;
}
.mid-section {
  width: 33.33%;
  height: 300px;
  float: left;
  padding: 0 40px;
  border-right: 1px solid white;
}
.right-section {
  width: 33.33%;
  height: 300px;
  float: left;
  padding: 0 40px;
}
