/*Header styles*/
ul {
  padding: 0px;
  text-align: center;
}
li {
  display: inline;
}

nav a {
  color: black;
  text-decoration: underline;
  padding: 10px 20px;
  margin: 0 80px;
  font-size: 20px;
  font-weight: 450;
}
nav a:hover {
  text-decoration: underline;
  text-decoration-color: #fbb251;
}
.active {
  text-decoration: underline;
  text-decoration-color: #fbb251;
}

/*Main styles*/
body {
  background-color: white;
  font-family: "Noto sans JP", arial, sans-serif;
  margin: 0;
}
.content-wrap {
  max-width: 1500px;
  margin: 0 auto;
}
.logo {
  max-width: 12rem;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

/*Footer styles*/

.content-wrap-footer {
  padding: 10px 30px;
}
footer {
  background-color: black;
  color: white;
}
footer a {
  color: white;
  text-decoration: none;
}
.right-section p {
  text-decoration: underline;
}

footer a:hover {
  text-decoration: none;
  color: #fbb251;
}
h4 {
  font-size: 20px;
  font-weight: bold;
}
h4 ~ p {
  font-size: 16px;
  font-weight: lighter;
}
.Signup {
  background-color: black;
  border-color: white;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 1rem;
  border-radius: 0.5rem;
  padding: 0.4rem 2rem;
  width: 8rem;
  display: inline-block;
  font-size: 1rem;
}
.Signup:hover {
  color: black;
  background-color: white;
  border-color: white;
}
.signup-email {
  display: block;
  margin: 20px;
}
