/*Border box fix*/

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

/*Grids*/

body {
  background: white;
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

/*Header styles*/

.logo {
  max-width: 200px;
  height: auto;
}
.logo-icons-container {
  display: flex;
  align-items: center;
  position: relative;
  padding: 0;
  margin: 0;
  justify-content: center;
  flex-direction: row;
}

.wrap {
  display: flex;
  margin-top: 2px;
  margin-bottom: 5px;
}

.icons {
  position: absolute;
  right: 5%;
}
.content-wrap-header {
  background: white;
  text-align: center;
  position: fixed;
  top: 0;
  width: 100%;
  padding-bottom: 5px;
}
.wrap i {
  margin: 6px;
  font-size: 22px;
  padding: 5px;
  display: inline-block;
  color: black;
}

nav {
  clear: both;
}

ul {
  text-align: center;
  font-size: 0;
}
li {
  display: inline-block;
  width: 25%;
}

nav a {
  color: black;
  text-decoration: underline;
  font-size: 20px;
  font-weight: 400;
  padding: 10px 20px;
}
nav a:hover {
  text-decoration: underline;
  text-decoration-color: #fbb251;
}
.active {
  text-decoration: underline;
  text-decoration-color: #fbb251;
}

/*Main styles*/

body {
  background-color: white;
  font-family: "Noto sans JP", arial, sans-serif;
  margin: 0;
}
.content-wrap {
  max-width: 1500px;
  margin: 0 auto;
  padding: 10em 6em;
}

/*Footer styles*/

footer a:hover {
  text-decoration: none;
  color: #fbb251;
}
h4 {
  font-size: 20px;
  font-weight: bold;
  color: white;
}
h4 ~ p {
  font-size: 16px;
  font-weight: lighter;
  color: white;
}
.Signup {
  background-color: black;
  border-color: white;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 1rem;
  border-radius: 0.5rem;
  padding: 0.4rem 2rem;
  width: 8rem;
  display: inline-block;
  font-size: 1rem;
}
.Signup:hover {
  color: black;
  background-color: white;
  border-color: white;
}
.signup-email {
  display: block;
  width: 90%;
  margin: 2em;
}

/*Footer grids*/

footer {
  color: white;
}
.content-wrap-footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 0.2em;
}
.footer-section {
  background-color: black;
  padding-left: 3em;
  padding-right: 2em;
  padding-bottom: 1em;
}

.footer-left p {
  text-align: center;
}

.footer-right p {
  text-decoration: underline;
}

footer a {
  color: white;
  text-decoration: none;
}
