.content-wrap {
  padding-right: 10%;
  padding-left: 10%;
}

h1 {
  font-size: 3rem;
  color: #0a3641;
  text-align: center;
}
h2 {
  color: #0a3641;
  font-size: 2rem;
}

h1 p {
  font-size: 2rem;
  color: black;
}

.img-text-wrap {
  display: flex;
  align-items: flex-start;
  margin-top: 5%;
  margin-bottom: 5%;
}

.cell-img {
  flex: 1.5;
  margin: 2%;
}

.cell-text {
  flex: 5;
}

.about-img {
  max-width: 100%;
  height: auto;
}

.contactinfo {
  border: 0.2rem solid black;
  width: 30rem;
  padding: 2rem 5rem;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 6em;
}
.bold {
  color: black;
  font-weight: bold;
}
