h1 {
  text-align: center;
}

.content-wrap {
  display: flex;
  align-items: flex-start;
}

.cell-img {
  flex: 1.5;
  margin: 2%;
}

.cell-text {
  flex: 5;
}

.about-img {
  max-width: 100%;
  height: auto;
}

.bold {
  color: black;
  font-weight: bold;
}

.box {
  display: grid;
  grid-template-rows: auto;
  grid-gap: 2rem;
}

/*Media queries*/

/*Mobile styles*/

@media only screen and (max-width: 480px) {
  .content-wrap {
    margin-left: 10%;
    margin-right: 10%;
    display: block;
  }

  .cell-img {
    text-align: center;
  }
  .about-img {
    max-width: 150px;
  }
  .hide {
    display: none;
  }
}
/*Tablet styles*/

@media only screen and (min-width: 481px) and (max-width: 768px) {
  .content-wrap {
    margin-left: 10%;
    margin-right: 10%;
    display: block;
  }
}
