/*box1*/
fieldset {
  border: none;
  margin-top: 2rem;
}

legend {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.form-label {
  font-size: 1rem;
  font-weight: 500;
}

.contact__input {
  display: block;
  width: 80%;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  padding: 0.5rem;
}

.row-small {
  width: 20%;
  display: inline;
}
.row-wide {
  width: 59%;
  display: inline;
  margin-left: 1%;
}

.city-label {
  margin-left: 3%;
}

.radio-btn {
  display: block;
  margin-top: 2%;
}

.radio-lable {
  font-size: 1rem;
  font-weight: 500;
}

.row-50 {
  width: 25%;
  display: inline;
}
.cvc-label {
  margin-left: 18%;
}

.terms {
  margin-top: 5%;
}

/*box2*/

h2 {
  font-size: 2rem;
}

.box2 p {
  color: #0a3641;
  font-size: 1rem;
  font-weight: 700;
  margin-top: 1%;
}

.remove {
  font-size: 1rem;
  font-weight: 500;
  margin-top: 2%;
  margin-bottom: 2%;
}

.quantity {
  max-width: 3rem;
  margin-left: 2px;
}

.line {
  margin-top: 10%;
}

/*Grid*/

.box1 {
  grid-area: box1;
  border: 2px solid black;
  padding: 6% 4%;
}
.box2 {
  grid-area: box2;
  border: 2px solid black;
  padding: 6% 4%;
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 4%;
  margin-bottom: 10%;
  grid-template-areas:
    "box1  box2"
    "box1  . ";
}

/*Flex*/

.box2-flex {
  display: flex;
  flex-wrap: wrap;
}

.flex1 {
  flex: 2;
}

.product-img {
  max-width: 100%;
  height: auto;
}

.flex2 {
  flex: 1;
}

/*Media queries*/

/*Mobile and tablet styles*/

@media only screen and (max-width: 800px) {
  main {
    margin-top: 20%;
    margin-bottom: 10%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 1%;
    grid-template-areas:
      "box2"
      "box1";
  }

  h2 {
    font-size: 1.5rem;
  }

  .box2 p {
    font-size: 0.9rem;
    font-weight: 600;
  }
  .remove {
    font-size: 0.9rem;
    font-weight: 400;
  }

  legend {
    font-size: 1.2rem;
  }

  .form-label {
    font-size: 0.9rem;
    font-weight: 600;
  }

  .contact__input {
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
    padding: 0.3rem;
  }

  .radio-btn {
    margin-top: 10px;
  }
}

/*Tablet styles*/

@media only screen and (min-width: 800px) and (max-width: 1000px) {
  main {
    margin-top: 20%;
    margin-bottom: 35%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 5%;
    grid-template-areas:
      "box2"
      "box1";
  }
}
