h1 {
  font-size: 3rem;
  color: #0a3641;
}
h1 p {
  font-size: 2rem;
  color: black;
}
.dropzone {
  border: 0.2rem dashed black;
  width: 10rem;
  padding: 2rem 10rem;
}
fieldset {
  border: none;
}
.contactinfo {
  border: 0.2rem solid black;
  width: 20rem;
  padding: 2rem 5rem;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
h2 {
  color: #0a3641;
  font-size: 2rem;
}
h2 p {
  color: black;
  font-size: 1rem;
}
.bold {
  color: black;
  font-weight: bold;
}
.contact__input {
  display: block;
  padding: 0.5rem;
  width: 30rem;
}
.contactform {
  color: black;
  font-size: 1.5rem;
}
.send {
  background-color: black;
  border: white;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 1rem;
  border-radius: 0.5rem;
  padding: 0.5rem 2rem;
  width: 10rem;
  display: inline-block;
  font-size: 1rem;
}
