main {
  text-align: center;
}
h1 {
  font-size: 80px;
  color: #0a3641;
  text-shadow: 5px 3px 3px #7097a3;
  margin-bottom: 60px;
}
h2 {
  font-size: 50px;
  color: #0a3641;
}
h3 {
  font-size: 50px;
  color: #0a3641;
}
h3 ~ p {
  font-size: 20px;
  font-weight: 500;
  color: black;
}
.insta-rainydays {
  text-decoration: none;
  color: black;
}
.insta-rainydays:hover {
  text-decoration: underline;
  color: #fbb251;
}
.for-women {
  background-color: #0a3641;
  opacity: 70%;
  border: 0.2rem solid white;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 2rem;
  border-radius: 0.75rem;
  width: 300px;
  padding: 2rem 2.5rem;
  margin: 20px 70px;
}
.for-men {
  background-color: #0a3641;
  opacity: 70%;
  border: 0.2rem solid white;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 2rem;
  border-radius: 0.75rem;
  width: 19rem;
  padding: 2rem 2.5rem;
  margin: 20px 70px;
}
.for-women:hover {
  background-color: #7097a3;
  opacity: 70%;
}
.for-men:hover {
  background-color: #7097a3;
  opacity: 70%;
}
.backgroundimg {
  background-image: url(../images/index/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 100%;
  display: block;
  padding: 100px;
  margin: 10px 0px;
  height: 800px;
  text-align: center;
}
.newcollection {
  margin: 0 auto;
  width: 960px;
}

.carousel-img {
  width: 200px;
  height: 250px;
}

/*Instagram collage*/

.insta {
  display: flex;
  flex-wrap: wrap;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 5%;
}
.insta-post {
  padding: 0.5%;
  flex: 1 19.5%;
}

.img {
  width: 100%;
  height: auto;
  border: 0.2rem solid black;
}

.insta-name {
  margin-top: auto;
  position: relative;
  background-color: black;
}

.insta-name p {
  font-size: 1rem;
  font-weight: 600;
  text-decoration: none;
  color: white;
  background-color: black;
  display: inline-block;
  position: absolute;
  left: 1%;
  bottom: 0;
}
