main {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

h2 {
  font-size: 2.3rem;
}

h3 {
  color: black;
  font-size: 1.5rem;
}

label {
  font-size: 1.1rem;
  font-weight: 600;
}

.contact__input {
  display: block;
  padding: 0.5rem;
  width: 30rem;
  margin: 0.5rem;
}

form {
  margin-bottom: 15%;
}

/*Media queries*/

/*Mobile and tablet styles*/

@media only screen and (max-width: 800px) {
  h2 {
    font-size: 1.4rem;
  }

  h3 {
    font-size: 1.2rem;
  }

  .form-label {
    font-size: 0.9rem;
    font-weight: 600;
  }

  .contact__input {
    display: block;
    padding: 0.3rem;
    width: 20rem;
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
  }

  form {
    margin-bottom: 10%;
  }
}
