main {
  text-align: center;
  background-color: #0a3641;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}

.raincoats {
  background-image: url(../images/newcollection/raincoats.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 100%;
  display: block;
  padding-top: 10rem;
  padding-bottom: 10rem;
  height: 700px;
  text-align: center;
}

h1 {
  font-size: 4rem;
  color: #fbb251;
  text-shadow: 1px 2px 2px white;
  margin-bottom: 3rem;
}
h2 {
  font-size: 2.5rem;
  color: #fbb251;
}

/* collection*/

.collection {
  display: flex;
  flex-wrap: wrap;
}
.collection-img {
  padding: 2%;
  flex: 1 18%;
}

.img {
  width: 100%;
  height: auto;
  border: 0.2rem solid black;
  border-radius: 0.5rem;
}

.ncbutton {
  background-color: #0a3641;
  border-color: #fbb251;
  color: #fbb251;
  margin-top: 2rem;
  margin-bottom: 5%;
}

.ncbutton:hover {
  background-color: #fbb251;
  border-color: #0a3641;
  color: #0a3641;
}
/*Media queries*/

/*Mobile styles*/

@media only screen and (max-width: 480px) {
  .raincoats {
    background-image: url(../images/newcollection/raincoats-mob.jpg);
    padding-top: 2rem;
    padding-bottom: 2rem;
    height: 230px;
  }

  h1 {
    font-size: 2rem;

    margin-bottom: 1rem;
  }
  h2 {
    font-size: 1rem;
  }

  /* Collection */

  .collection {
    margin-left: 2%;
    margin-right: 2%;
  }
  .collection-img {
    padding: 2%;
    flex: 1;
  }
  .hide {
    display: none;
  }

  .ncbutton {
    margin-top: 2rem;
    margin-bottom: 5%;
  }
}

/*Tablet styles*/

@media only screen and (min-width: 481px) and (max-width: 768px) {
  .raincoats {
    background-image: url(../images/newcollection/raincoats-mob.jpg);
    padding-top: 2rem;
    padding-bottom: 2rem;
    height: 300px;
  }

  h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }
  h2 {
    font-size: 1.5rem;
  }

  /* Collection */

  .collection {
    margin-left: 2%;
    margin-right: 2%;
  }
  .collection-img {
    padding: 2%;
    flex: 1;
  }
  .hide {
    display: none;
  }

  .ncbutton {
    margin-top: 2rem;
    margin-bottom: 5%;
  }
}
