main {
  text-align: center;
  background-color: #0a3641;
}

.raincoats {
  background-image: url(../images/newcollection/raincoats.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 100%;
  display: block;
  padding-top: 20rem;
  padding-bottom: 15rem;
  height: 800px;
  text-align: center;
}

h1 {
  font-size: 4rem;
  color: #fbb251;
  text-shadow: 1px 2px 2px white;
  margin-bottom: 3rem;
}
h2 {
  font-size: 2.5rem;
  color: #fbb251;
}

/* Carousel*/

.carousel {
  display: flex;
  flex-wrap: wrap;
}
.carousel-img {
  padding: 2%;
  flex: 1 18%;
}

.img {
  width: 100%;
  height: auto;
  border: 0.2rem solid black;
  border-radius: 0.5rem;
}

.button {
  background-color: #0a3641;
  border-color: #fbb251;
  color: #fbb251;
  text-align: center;
  text-decoration: none;
  font-size: 1.2em;
  font-weight: 600;
  border-radius: 0.5rem;
  padding: 0.5rem 2rem;
  width: 10rem;
  display: inline-block;
  margin: auto;
  margin-top: 2rem;
}
