body {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  color: #0a3641;
}

h2 {
  color: #0a3641;
}

h3 {
  color: #0a3641;
}

nav li {
  display: inline-block;
}

nav a {
  color: black;
  text-decoration: none;
  padding: 50px;
}
nav a:hover {
  text-decoration: underline;
  color: #fbb251;
}
